<!-- Header/Navbar -->
<header class="navbar bg-base-100 shadow-lg sticky top-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>{{ 'navigation.home' | translate }}</a></li>
        <li><a>{{ 'navigation.products' | translate }}</a></li>
        <li><a>{{ 'navigation.about' | translate }}</a></li>
        <li><a>{{ 'navigation.contact' | translate }}</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl font-bold">Ec</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>{{ 'navigation.home' | translate }}</a></li>
      <li><a>{{ 'navigation.products' | translate }}</a></li>
      <li><a>{{ 'navigation.about' | translate }}</a></li>
      <li><a>{{ 'navigation.contact' | translate }}</a></li>
    </ul>
  </div>

  <div class="navbar-end gap-2">
    <!-- Cart -->
    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon>
        <span class="badge badge-sm indicator-item">3</span>
      </div>
    </button>
  </div>
</header>
